In [30]:
# Dependencies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [31]:
browser = Browser('chrome', headless=False)
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [32]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [33]:
content_title = soup.find('div', class_='content_title').find('a')
content_title

In [34]:
article_title = content_title.text.strip()
article_title

"NASA's First Deep-Space CubeSats Say: 'Polo!'"

In [35]:
article_body = soup.find('div', class_='article_teaser_body')
article_body

In [36]:
news_p = article_body.text.strip()
news_p

"MarCO is a pair of tiny spacecraft that launched with NASA's InSight lander today."

In [37]:
browser = Browser('chrome', headless=False)
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url1)

In [38]:
html1 = browser.html
soup1 = BeautifulSoup(html1, 'html.parser')

In [39]:
button = soup1.find('a', class_='button fancybox')
button

<a class="button fancybox" data-description="The Cassini spacecraft takes an angled view toward Saturn, showing the southern reaches of the planet with the rings on a dramatic diagonal. The moon Enceladus appears as a small, bright speck in the lower left of the image." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA14627_ip.jpg" data-link="/spaceimages/details.php?id=PIA14627" data-title="Angling Saturn" id="full_image">
					FULL IMAGE
				  </a>

In [40]:
image_url = soup1.find('a', {'id': 'full_image', 'data-fancybox-href': True}).get('data-fancybox-href')
image_url

'/spaceimages/images/mediumsize/PIA14627_ip.jpg'

In [41]:
featured_image_url = 'https://www.jpl.nasa.gov' + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14627_ip.jpg'

In [42]:
browser = Browser('chrome', headless=False)
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [43]:
html2 = browser.html
soup2 = BeautifulSoup(html2, 'html.parser')

In [44]:
tweet = soup2.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [45]:
mars_weather = tweet.text.strip()
mars_weather

'Sol 2043 (May 06, 2018), Sunny, high -14C/6F, low -71C/-95F, pressure at 7.36 hPa, daylight 05:22-17:20'

In [46]:
url3 = 'https://space-facts.com/mars/'

In [47]:
tables = pd.read_html(url3)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [49]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [50]:
browser = Browser('chrome', headless=False)
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)

In [51]:
html4 = browser.html
soup4 = BeautifulSoup(html4, 'html.parser')

In [52]:
one = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
two = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'
three = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
four = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

In [53]:
links = [one, two, three, four]

In [54]:
hemisphere_title = soup4.find_all('h3')
hemisphere_title

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [55]:
descriptions = [h3.text.strip() for h3 in hemisphere_title]
descriptions

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [56]:
hemisphere_image_urls = [{'title': description, 'img_url': link} for description, link in zip(descriptions,links)]
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]